<md-card>
  <a [routerLink] = "[productId]">
    <img md-card-image  src="{{product.imagePath}}/">
  </a>
  <md-card-title>{{product.name}}</md-card-title>
  <md-card-subtitle>${{product.price}}</md-card-subtitle>
  <md-card-actions align="end">
    <button md-fab color="primary">
      <md-icon>favorite_border</md-icon>
    </button>
    <button md-fab color="primary" (click)="cartService.addToCart(product)">
      <md-icon >add_shopping_cart</md-icon>
    </button>
  </md-card-actions>
</md-card>
