<h1 *ngIf="cartList.length == 0">Shopping Cart is Empty</h1>
<table *ngIf = "cartList.length" class="cart-list">
  <colgroup>
    <col width="1">
    <col>
    <col width="1">
    <col width="1">
    <col width="1">
    <col width="1">
  </colgroup>
  <thead>
    <tr>
      <th rowspan="1">&nbsp;</th>
      <th>Product Name</th>
      <th class="cart-list__price">Unit Price</th>
      <th class="cart-list__input">Qty</th>
      <th class="cart-list__subtotal">Subtotal</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let goods of cartList; let i = index">
      <td class="cart-list__img">
        <img src={{goods.imagePath}} alt={{goods.name}}>
      </td>
      <td>
        <span>{{goods.name}}</span>
      </td>
      <td class="cart-list__price">
        <span class="price">{{goods.price}}</span>
      </td>
      <td class="cart-list__input">
        <input class="input" #qty (keyup)="cartService.editQty(qty.value, i)" value="{{goods.qty}}" maxlength="4">
        <!--<md-input #qty  value="1"></md-input>-->
        <!--<md-input placeholder="Name"></md-input>-->
        <!--<md-input maxLength="5"></md-input>-->
      </td>
      <td class="cart-list__subtotal">
        {{goods.price * qty.value}}
      </td>
      <td>
        <button md-mini-fab color="warn" (click)="cartService.deleteGoods(goods)">
          <md-icon>delete</md-icon>
        </button>
      </td>
    </tr>
  </tbody>
</table>
