a:-webkit-any-link {
  text-decoration: none;
}
md-card {
  margin: 15px;
}

md-card-title {
  border-top: 2px solid #eee;
  padding-top: 4px;
}

sc-goods-item {
  display: flex;
}

md-card button {
  margin-left: 10px;
}

md-card-subtitle {
  font-size: 24px;
}
