sc-goods-detail {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.product-img {
  width: 50%;
  padding: 1em;
}
.product-img img {
  min-width: 100%;
}
.product-top {
  display: flex;
}

.product-form {
  width: 50%;
  padding: 1em;
}

.add-to-cart {
  padding: 2em 0 0;
}

.add-to-cart button:last-child {
  margin-left: 1em;
}

.input {
  height: 37px;
  box-sizing: border-box;
  border: none;
  width: 6em;
  margin: 0 1em;
  padding: 0 6px;
  border-radius: 3px;
  border: 2px solid #eee;
  font-size: 16px;
}
